<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="text-black bg-slate-50">
<%- include('../../pageComponents/header', {isWorker: isWorker}); -%>
<div class="container mx-auto mt-6">