<header class="bg-white w-full py-4 px-4">
    <div class="container mx-auto flex justify-between">
        <div class="flex">
            <nav class="flex gap-10 align-bottom">
                <a href="/" class="font-medium leading-6">Ваши запросы</a>
                <% if (isWorker) { %>
                    <a href="/requests" class="font-medium leading-6">Все запросы</a>
                <% } %>
                <% if (!isWorker) { %>
                <a href="/requests/new" class="font-medium leading-6 text-black">Создать запрос</a>
                 <a href = "/registration/settings"  class="font-medium leading-6">Настройка пользователя</a>
                <% } %>
                <a href="/houses" class="font-medium leading-6 text-black">Все объекты</a>
                <% if (isWorker) { %>
                <a href="/registration/worker" class="font-medium leading-6">Новый сотрудник</a>
                <a href = "/client/find"  class="font-medium leading-6">Данные о клиенте</a>
                 <a href = "/registration/settingsWorker"   class="font-medium leading-6">Настройка работника</a>
                    <a href = "/reports"   class="font-medium leading-6">Отчеты</a>
                <% } %>
            </nav>
        </div>
        <button type="button" onclick="window.history.back()" class="bg-gray-300 text-black p-2 rounded mt-4">
            Назад
        </button>
        <!-- Кнопка "Выход" -->
        <button type="button" onclick="window.location.href='/login'" class="bg-gray-300 text-black p-2 rounded mt-4">
            Выход
        </button>
    </div>
</header>