<%- include('../layout/empty/top'); -%>
<h2 class="text-center font-semibold text-2xl w-72 block">Клиент не найден</h2>
<p>Пожалуйста, проверьте введенные данные и попробуйте снова.</p>

<button type="button" onclick="window.history.back()" class="bg-gray-300 text-black p-2 rounded mt-4">
    Назад
</button>

<%- include('../layout/empty/bottom'); -%>