<%- include('../layout/empty/top', {title: 'Добавить Паспорт'}); -%>

<form method="post" action="/passport/find-client" class="bg-white p-16 rounded flex flex-col gap-5">
    <h2 class="text-center font-semibold text-2xl">Поиск клиента</h2>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" required>

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required>

    <label for="secondName">Отчество:</label>
    <input type="text" id="secondName" name="secondName" required>
    <label for="birthDate">Дата рождения:</label>
    <input type="date" id="birthDate" name="birthDate" required>

    <button type="submit" class="bg-blue-500 text-white p-2 rounded mt-4">Найти клиента</button>
</form>

<% if (clientId) { %>
    <form method="post" action="/passport/add-passport" class="bg-white p-16 rounded flex flex-col gap-5">
        <h2 class="text-center font-semibold text-2xl">Добавление паспорта</h2>

        <input type="hidden" name="userId" value="<%= clientId %>">

        <label for="series">Серия:</label>
        <input type="text" id="series" name="series" required>

        <label for="number">Номер:</label>
        <input type="text" id="number" name="number" required>

        <label for="issueDate">Дата выдачи:</label>
        <input type="date" id="issueDate" name="issueDate" required>

        <label for="birthDate">Дата рождения:</label>
        <input type="date" id="birthDate" name="birthDate" required>

        <label for="issuedBy">Кем выдан:</label>
        <input type="text" id="issuedBy" name="issuedBy" required>

        <button type="submit" class="bg-blue-500 text-white p-2 rounded mt-4">Добавить паспорт</button>
    </form>
<% } %>

<% if (error) { %>
    <p class="text-red-500"><%= error %></p>
<% } %>

<%- include('../layout/empty/bottom'); -%>