<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выгрузка отчета</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
        }

        label {
            display: block;
            margin-top: 10px;
        }
        input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
        button {
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>

<div class="bg-white p-16 rounded flex flex-col gap-5 relative min-h-128">
    <h2 class="text-center font-semibold text-2xl w-72 block">Выгрузка отчетов</h2>
    <form id="reportForm" action="/reports/export-client-report" method="POST">
        <label for="startDate">Выберите дату начала:</label>
        <input type="date" id="startDate" name="startDate" required>

        <label for="endDate">Выберите дату окончания:</label>
        <input type="date" id="endDate" name="endDate" required>
        <button type="submit" class="bg-green-950 text-white p-2 rounded mt-4">
            Выгрузить отчеты
        </button>

    <button type="button" onclick="window.history.back()" class="bg-gray-300 text-black p-2 rounded mt-4">
        Назад
    </button>
    </form>
</div>
</body>
</html>
