<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="text-black bg-slate-50 px-4">
<div class="container mx-auto h-screen flex flex-col justify-center content-center flex-wrap">