<button
        type="<%= locals.type ? type : 'button' %>"
        class="bg-green-950 text-white font-medium rounded-full text-sm px-5 py-2.5 text-center
        hover:bg-green-950
        focus:ring-4 focus:outline-none focus:ring-blue-300"
>
    <%= text %>
</button>
